chatbot-rag.json
{
  "name": "Chatbot RAG",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Zayeti.pdf",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "root",
            "mode": "list",
            "cachedResultName": "/ (Root folder)",
            "cachedResultUrl": "https://drive.google.com/drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "c272aaec-1b14-4722-86f7-12a54f387055",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9BthNPxy3Xwq1qj3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "d689b941-842d-4616-8687-38b5defa71b5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9BthNPxy3Xwq1qj3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "369602e2-95f6-471d-9fb2-8f67a3761e9c",
              "name": "DocumentName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        0
      ],
      "id": "3becc541-fa9c-40fe-b294-104f9caa102a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n-zayeti-test",
          "mode": "list",
          "cachedResultName": "rag-n8n-zayeti-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1296,
        0
      ],
      "id": "bcab91fa-1298-4828-8f0b-9d6489673cb3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "VV8tWlt65dpETE7d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1472,
        160
      ],
      "id": "f4934e50-212c-4a5a-be23-3aaf5dfe9b5e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1520,
        304
      ],
      "id": "1880beab-5fde-4ea4-a843-045b32887f25",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        160
      ],
      "id": "70692685-da93-4e20-acf9-008d9919c35b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qhFGsWelJd2xNTbq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n",
        "options": {
          "systemMessage": "ALWAYS call the Pinecone retrieval tool before answering. If no results, say:\n\"This info is not available in the documents.\"\nYou are a multilingual marketing assistant for Zit Zitouna.  \nYour knowledge source is the Zayeti.pdf document.  \nAlways answer based on the document.  \nThe user may ask questions in any language (English, French, Arabic, German...).  \nDetect the language of the question and reply in the same language.  \nIf unclear, default to French."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        240
      ],
      "id": "183c6e77-432e-4d26-b628-1da8c47c1dfc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        400
      ],
      "id": "0b6293c9-44af-4e60-a2fd-ff180d85a3ce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qhFGsWelJd2xNTbq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        464
      ],
      "id": "c4f23c6e-e888-4547-98f6-18ae19737fc7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about zayeti's marketing.",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n-zayeti-test",
          "mode": "list",
          "cachedResultName": "rag-n8n-zayeti-test"
        },
        "options": {
          "pineconeNamespace": "zit-olive-aug2025"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        416
      ],
      "id": "3d3dbca8-09b5-4947-a689-7b5f2f033a27",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "VV8tWlt65dpETE7d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        544
      ],
      "id": "d7920417-70ef-44ee-b4c8-93ecc01dd587",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "qhFGsWelJd2xNTbq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        240
      ],
      "id": "4f35648b-62bf-4e0e-9a42-7690c10a67eb",
      "name": "When chat message received",
      "webhookId": "fdd290cf-0f78-41cd-a904-3568ea8c2843"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zit-chat",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Session-Id"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        640
      ],
      "id": "772cc7f9-25c5-461f-a9fa-46ce1381259a",
      "name": "Webhook1",
      "webhookId": "5d62d5e1-ab08-443d-8c46-bcb7e75fe5dd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d513435e-1b88-4b7b-be82-d32ca606331c",
              "name": "sessionId",
              "value": "={{$json.body.sessionId || $json.headers[\"x-session-id\"]}}",
              "type": "string"
            },
            {
              "id": "2b1d863f-0140-40ab-bb89-e6afe60be57a",
              "name": "lang",
              "value": "={{$json.body.lang || \"en\"}}",
              "type": "string"
            },
            {
              "id": "edee2fd6-a0bb-483f-8a7a-98bb0cc13ede",
              "name": "messages",
              "value": "=[\n  { \"role\": \"user\", \"content\": \"{{$json.body.message || $json.body.text}}\" }\n]",
              "type": "string"
            },
            {
              "id": "5f6ea16e-5f67-4fe2-8f29-9c498aaf8ba8",
              "name": "user_text",
              "value": "={{$json.body.message || $json.body.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        640
      ],
      "id": "a1e6aa1c-e47f-4ee5-893b-977404d2cb8c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.user_text}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        640
      ],
      "id": "16a8f946-f134-4648-87ef-f2c7376821a2",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        848
      ],
      "id": "4a800868-add7-4230-aea6-6f4ff6b4c4a7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "qhFGsWelJd2xNTbq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        848
      ],
      "id": "53dbd349-13e5-40f8-a423-52f9474f2a22",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about zayeti's marketing.",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n-zayeti-test",
          "mode": "list",
          "cachedResultName": "rag-n8n-zayeti-test"
        },
        "options": {
          "pineconeNamespace": "zit-olive-aug2025"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        864
      ],
      "id": "76b00c28-ebdd-4236-9dd2-0d65e536c4bb",
      "name": "Pinecone Vector Store3",
      "credentials": {
        "pineconeApi": {
          "id": "VV8tWlt65dpETE7d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        1072
      ],
      "id": "9e7a510a-4466-4b39-b552-50efd3f9afb8",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "qhFGsWelJd2xNTbq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ reply: $json.output || $json.response || $json.data || 'No reply' }) }}\n\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Session-Id"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        688
      ],
      "id": "85977b6a-4a43-426a-90ff-509894b334a1",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "439b644f-b9ea-449e-900c-3a384eefc8c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20309d7fbc1468e86b24f1a5fc3cb9557bad44ec785de8a5806da5b3daf39ea0"
  },
  "id": "MQ32Fn94oHjpuhCG",
  "tags": []
}